Python/configparser.ConfigParser
.vscode
Python/main_test.py
Python/steam.json
Python/steam_filtered.txt
Python/steam_normalized_index.json
Python/app.log
Python/aria2c.exe
Python/Launcher.exe
Python/Shortcut.exe
GitDeploy.*
index_backups
.gitignore
*.ini
*.bak
*.ahk
*.old
*.del
*.index
*.log
*.json
*.pyc
steam_filtered.txt
GitDeploy.*
*/__pycache__
remove_debug_prints.py
*.code-workspace